:root {

    --cerise-color: #DB1E8C;

--carnation-color: #FF97D3;

--pickled-bluewood-color: #364372;
;

--white-color: #FFFFFF;

--cornflower-color: #264FEC;


--font-principal: 'IBM Plex Sans', sans-serif;
}